@import 'tailwindcss';

@theme {
  --color-main-white: #ffffff;
  --color-text-black: #2c2b2b;
  --color-text-disabled: #aab1c0;
  --color-bg-header: #222121;
  --color-main-grad: linear-gradient(180deg, rgba(44, 43, 43, 0) 31.17%, #7c49e3 128.34%);
  --color-main-gray: #3d3f4d;
  /* --color-background: #010102;
  --color-main-green: #5aea6f;
  --color-low-green: #00e3c9;
  --color-hard-green: #2e9c12;
  --color-hover-low-green: #00a895;
  --color-main-black: #000000;
  --color-main-blue: #6d8aeef2;
  --color-main-blue-secondary: #19b0da;
  --color-main-error: #f64242;
  --color-main-success: #50fb26;
  --color-main-warning: #f2ac57;
  --color-main-orange: #ffb43d;
  --color-main-yellow: #ffef3d;
  --color-main-gray: #d8d3d3;
  --color-second-gray: #eaeaea;
  --color-main-aqua: #c2fbf7;
  --color-text-secondary: #6f6969;
  --color-text-gray: #6d6b6b;
  --color-hover-gray: #414141;
  --color-disabled-button: #9a9a9a;
  --color-modal-bg: #1e1e1e;
  --color-message-gray: #4a4f4e;
  --color-message-blue: #5b67bb;
  --color-bg-transparent-none: rgba(210, 210, 210, 1);
  --color-bg-transparent-50: rgba(210, 210, 210, 0.5);
  --color-bg-transparent-25: rgba(210, 210, 210, 0.25); */

  --inset-shadow-button: inset 0 4px 0 rgba(0, 0, 0, 0.25);
}

:root {
  --low-green: #00e3c9;
  --main-white: #ffffff;
}

[data-slot='scroll-area-scrollbar'] {
  background: transparent !important; /* убираем фон "трека" */
  padding: 2px; /* отступы вокруг ползунка */
  width: 12px; /* нужно чуть шире, чтобы влез thumb */
}

/* Вертикальный скроллбар */
[data-slot='scroll-area-scrollbar'][data-orientation='vertical'] {
  width: 12px;
}

/* Горизонтальный скроллбар (если понадобится) */
[data-slot='scroll-area-scrollbar'][data-orientation='horizontal'] {
  height: 12px;
}

/* Сам ползунок */
[data-slot='scroll-area-thumb'] {
  background-color: #aab1c0 !important;
  border-radius: 4px;
  width: 8px;
  min-height: 25px;
}

* {
  scrollbar-width: thin; /* для Firefox */
  scrollbar-color: #aab1c0 transparent; /* thumb и track (Firefox) */
}

/* Webkit-стилизация (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 12px; /* общий размер скроллбара */
  height: 12px;
}
/* Убираем стрелочки */
*::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #aab1c0;
  border-radius: 4px;
  min-height: 25px;
  min-width: 8px;
  margin: 2px; /* визуальный отступ */
}

*::-webkit-scrollbar-track {
  background: transparent; /* трек невидимый */
}

html,
body {
  height: 100%;
}

body {
  color: white;
  background: #262525;
  background-color: #262525;
}

.scroll-container {
  overflow: overlay;
  position: relative;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
}

.scroll-container.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: white !important;
  opacity: 1 !important;
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}
