@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #ffffff;
  --main-gradient: linear-gradient(
    180deg,
    rgba(31, 166, 197, 0.42) 0%,
    rgba(28, 149, 176, 0.42) 27.5%,
    rgba(29, 58, 121, 0.42) 70%,
    rgba(30, 15, 95, 0.42) 100%
  );
  --main-green: #5aea6f;
  --low-green: #00e3c9;
  --hard-green: #2e9c12;
  --hover-low-green: #00a895;
  --main-black: #000000;
  --main-blue: #6d8aeef2;
  --main-blue-secondary: #19b0da;
  --main-error: #f64242;
  --main-success: #50fb26;
  --main-warning: #f2ac57;
  --main-orange: #ffb43d;
  --main-yellow: #ffef3d;
  --main-gray: #d8d3d3;
  --second-gray: #eaeaea;
  --main-aqua: #c2fbf7;
  --text-secondary: #6f6969;
  --text-gray: #6d6b6b;
  --hover-gray: #414141;
  --disabled-button: #9a9a9a;
  --bg-transparent-none: rgba(210, 210, 210, 1);
  --bg-transparent-50: rgba(210, 210, 210, 0.5);
  --bg-transparent-25: rgba(210, 210, 210, 0.25);
}

html,
body {
  height: 100%;
}

body {
  color: var(--main-white);
  background: var(--main-white);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-container {
  overflow: auto;
  position: relative;
}

/* Скрываем скроллбар по умолчанию */
.scroll-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Настройки ползунка */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Настройки трека */
.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Стрелочки убираем */
.scroll-container::-webkit-scrollbar-button {
  display: none;
}

/* Активное состояние — показываем скролл */
.scroll-container.show-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-container.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
}
