@import 'tailwindcss';

@theme {
  --color-main-white: #ffffff;
  --color-text-black: #2c2b2b;
  --color-text-disabled: #aab1c0;
  --color-bg-header: #222121;
  --color-main-grad: linear-gradient(180deg, rgba(44, 43, 43, 0) 31.17%, #4f1df4 102.86%);
  --color-main-gray: #3d3f4d;
  --color-error: #b52727;
  --color-main-error: #b52727;
  --color-success: #23b44f;
  --color-yellow: #ffef3d;
  --color-main-purple: #9073cb;
  --color-main-black: #222121;
  --color-main-dark: #262525;
  --color-text-low-white: #f9f9f9;
  --color-main-green: #29c341;
  --color-input-white: #f2f7f8;
  --color-main-blue: #2655c4;
  --color-main-yellow: #ffff00;

  --inset-shadow-button: inset 0 4px 0 rgba(0, 0, 0, 0.25);
}

:root {
  --low-green: #00e3c9;
  --main-white: #ffffff;
  --main-error: #b52727;
  --main-gray: #3d3f4d;
  --main-black: #262525;
  --text-disabled: #aab1c0;
  --main-purple: #461fc8;
  --main-yellow: #ffff00;
  --main-gradient: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--main-black);
  background-color: var(--main-black);
}

[data-slot='scroll-area-scrollbar'] {
  background: transparent !important;
  padding: 2px;
  width: 12px;
}

[data-slot='scroll-area-scrollbar'][data-orientation='vertical'] {
  width: 12px;
}

[data-slot='scroll-area-scrollbar'][data-orientation='horizontal'] {
  height: 12px;
}

[data-slot='scroll-area-thumb'] {
  background-color: #aab1c0 !important;
  border-radius: 4px;
  width: 8px;
  min-height: 25px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  scrollbar-color: #aab1c0 transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aab1c0;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

::-webkit-scrollbar-button {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Messenger popup animations */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
